<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
<h1>This is the code for addition</h1>
{{ msg }}
<form method="post" >
    {% csrf_token %}
    <label for="">Enter your number</label>
    <input type="number" name="n1">
    <br>
    <br>
    <label for="">Enter your second number</label>
    <input type="number" name="n2">
    <br>
    <br>
    <button type="submit">Add</button>
</form>
<h2>The sum is  {{sum}}</h2>
</body>
</html>